pipeline/042pplCopyDataCustomMappingsSingleTable.json
{
	"name": "042pplCopyDataCustomMappingsSingleTable",
	"properties": {
		"activities": [
			{
				"name": "GetColumnMappings",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetColumnMappings]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetColumnMappings",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE DBO.ORDERSS",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('GetColumnMappings').output.firstRow.columnmapping)\n",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_CSV_NH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ORDERS_ALLCOLS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Data Movements"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-11T05:37:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}